body {
    background-color: Black;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    background-color:green;
    color:ivory;
    width: 300px;
    display: inline-block;
}

.container {
    /* width: 500px; */
    display: flex;
    justify-content: center;
    /* margin: 100px; */
    border-radius: 2px;
    border-color: green;
}

h2 {
    color: green;
    background-color:black;
    text-align: center;
    margin: 20px;
    width: 100px;
    
}



